In [1]:
#Google Colab Library
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import os
os.environ['KAGGLE_CONFIG_DIR'] = "/content/drive/My Drive/Kaggle"

In [4]:
%cd /content/drive/My Drive/Kaggle

/content/drive/My Drive/Kaggle

In [5]:
!kaggle datasets download -d amananandrai/ag-news-classification-dataset

ag-news-classification-dataset.zip: Skipping, found more recently modified local copy (use --force to force download)

In [6]:
import pandas as pd
df = pd.read_csv('/content/drive/My Drive/Kaggle/AG News.csv',encoding = "ISO-8859-1")

In [7]:
df.head()

   Class Index  ...                                        Description
0            3  ...  Unions representing workers at Turner   Newall...
1            4  ...  SPACE.com - TORONTO, Canada -- A second\team o...
2            4  ...  AP - A company founded by a chemistry research...
3            4  ...  AP - It's barely dawn when Mike Fitzpatrick st...
4            4  ...  AP - Southern California's smog-fighting agenc...

[5 rows x 3 columns]

In [8]:
df = df.drop(columns='Title')
df = df.drop_duplicates(subset = ["Description"])

In [9]:
category = pd.get_dummies(df['Class Index'])
df = pd.concat([df , category], axis=1)
df = df.drop(columns='Class Index')
df

                                            Description  1  2  3  4
0     Unions representing workers at Turner   Newall...  0  0  1  0
1     SPACE.com - TORONTO, Canada -- A second\team o...  0  0  0  1
2     AP - A company founded by a chemistry research...  0  0  0  1
3     AP - It's barely dawn when Mike Fitzpatrick st...  0  0  0  1
4     AP - Southern California's smog-fighting agenc...  0  0  0  1
...                                                 ... .. .. .. ..
7595  Ukrainian presidential candidate Viktor Yushch...  1  0  0  0
7596  With the supply of attractive pitching options...  0  1  0  0
7597  Like Roger Clemens did almost exactly eight ye...  0  1  0  0
7598  SINGAPORE : Doctors in the United States have ...  0  0  1  0
7599  EBay plans to buy the apartment and home renta...  0  0  1  0

[7594 rows x 5 columns]

In [10]:
#Lower Casing
df['Description'] = df['Description'].str.lower()

In [11]:
#Punctuation Removal
df['Description'] = df['Description'].str.replace('[^\w\s]','')

In [12]:
desc = df['Description'].values
label = df[[1, 2,3, 4]].values

In [13]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(desc, label, test_size=0.2)

In [14]:
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences

tokenizer = Tokenizer(num_words=5000, oov_token='<OOV>')
tokenizer.fit_on_texts(x_train) 


x_train = tokenizer.texts_to_sequences(x_train)
x_test = tokenizer.texts_to_sequences(x_test)

x_train = pad_sequences(x_train) 
x_test = pad_sequences(x_test)

In [15]:
import tensorflow as tf
model = tf.keras.Sequential([
    tf.keras.layers.Embedding(input_dim=5000, output_dim=16),
    tf.keras.layers.LSTM(64),
    tf.keras.layers.Dense(256, activation='relu'),
    tf.keras.layers.Dropout(0.5),
    tf.keras.layers.Dense(128, activation='relu'),
    tf.keras.layers.Dropout(0.5),
    tf.keras.layers.Dense(64, activation='relu'),
    tf.keras.layers.Dropout(0.5),
    tf.keras.layers.Dense(4, activation='softmax')
])
model.compile(loss='categorical_crossentropy',optimizer='adam',metrics=['accuracy'])

In [16]:
class myCallback(tf.keras.callbacks.Callback):
  def on_epoch_end(self, epoch, logs={}):
    if(logs.get('accuracy') > 0.9 and logs.get('val_accuracy') > 0.9):
      print("\nAkurasi telah mencapai >90%!")
      self.model.stop_training = True
callbacks = myCallback()

In [17]:
import numpy as np
num_epochs = 30
x_train = np.array(x_train)

hist = model.fit(x_train, y_train, epochs=num_epochs, 
                    validation_data=(x_test, y_test), callbacks=[callbacks], verbose=1)

Epoch 1/30
190/190 [==============================] - 10s 55ms/step - loss: 1.2887 - accuracy: 0.3323 - val_loss: 0.9579 - val_accuracy: 0.4806
Epoch 2/30
190/190 [==============================] - 11s 55ms/step - loss: 0.8690 - accuracy: 0.5923 - val_loss: 0.7600 - val_accuracy: 0.6504
Epoch 3/30
190/190 [==============================] - 11s 57ms/step - loss: 0.6533 - accuracy: 0.7103 - val_loss: 0.6207 - val_accuracy: 0.7683
Epoch 4/30
190/190 [==============================] - 11s 57ms/step - loss: 0.4573 - accuracy: 0.8380 - val_loss: 0.6103 - val_accuracy: 0.7788
Epoch 5/30
190/190 [==============================] - 11s 57ms/step - loss: 0.3012 - accuracy: 0.9045 - val_loss: 0.6683 - val_accuracy: 0.7808
Epoch 6/30
190/190 [==============================] - 11s 57ms/step - loss: 0.2242 - accuracy: 0.9327 - val_loss: 0.7629 - val_accuracy: 0.7702
Epoch 7/30
190/190 [==============================] - 12s 62ms/step - loss: 0.1962 - accuracy: 0.9440 - val_loss: 1.0591 - val_accuracy: 0.7518
Epoch 8/30
190/190 [==============================] - 12s 62ms/step - loss: 0.1583 - accuracy: 0.9541 - val_loss: 0.9823 - val_accuracy: 0.7788
Epoch 9/30
190/190 [==============================] - 12s 62ms/step - loss: 0.1021 - accuracy: 0.9737 - val_loss: 1.0411 - val_accuracy: 0.7768
Epoch 10/30
190/190 [==============================] - 12s 62ms/step - loss: 0.0828 - accuracy: 0.9779 - val_loss: 1.2350 - val_accuracy: 0.7584
Epoch 11/30
190/190 [==============================] - 12s 62ms/step - loss: 0.0846 - accuracy: 0.9773 - val_loss: 1.3760 - val_accuracy: 0.7650
Epoch 12/30
190/190 [==============================] - 12s 63ms/step - loss: 0.0438 - accuracy: 0.9896 - val_loss: 1.5213 - val_accuracy: 0.7702
Epoch 13/30
190/190 [==============================] - 12s 63ms/step - loss: 0.0456 - accuracy: 0.9900 - val_loss: 1.6831 - val_accuracy: 0.7788
Epoch 14/30
190/190 [==============================] - 12s 63ms/step - loss: 0.0313 - accuracy: 0.9901 - val_loss: 1.7874 - val_accuracy: 0.7656
Epoch 15/30
190/190 [==============================] - 12s 62ms/step - loss: 0.0407 - accuracy: 0.9886 - val_loss: 1.7192 - val_accuracy: 0.7735
Epoch 16/30
190/190 [==============================] - 12s 62ms/step - loss: 0.0258 - accuracy: 0.9926 - val_loss: 1.7988 - val_accuracy: 0.7689
Epoch 17/30
190/190 [==============================] - 12s 62ms/step - loss: 0.0590 - accuracy: 0.9862 - val_loss: 1.5788 - val_accuracy: 0.7795
Epoch 18/30
190/190 [==============================] - 12s 62ms/step - loss: 0.0236 - accuracy: 0.9936 - val_loss: 2.0402 - val_accuracy: 0.7617
Epoch 19/30
190/190 [==============================] - 12s 62ms/step - loss: 0.0154 - accuracy: 0.9962 - val_loss: 1.8820 - val_accuracy: 0.7735
Epoch 20/30
190/190 [==============================] - 12s 63ms/step - loss: 0.0335 - accuracy: 0.9924 - val_loss: 1.6446 - val_accuracy: 0.7558
Epoch 21/30
190/190 [==============================] - 12s 63ms/step - loss: 0.0371 - accuracy: 0.9926 - val_loss: 1.7979 - val_accuracy: 0.7650
Epoch 22/30
190/190 [==============================] - 12s 63ms/step - loss: 0.0199 - accuracy: 0.9954 - val_loss: 1.8835 - val_accuracy: 0.7735
Epoch 23/30
190/190 [==============================] - 12s 63ms/step - loss: 0.0229 - accuracy: 0.9934 - val_loss: 2.0538 - val_accuracy: 0.7847
Epoch 24/30
190/190 [==============================] - 12s 62ms/step - loss: 0.0063 - accuracy: 0.9987 - val_loss: 2.3264 - val_accuracy: 0.7808
Epoch 25/30
190/190 [==============================] - 12s 62ms/step - loss: 0.0149 - accuracy: 0.9965 - val_loss: 2.0315 - val_accuracy: 0.7716
Epoch 26/30
190/190 [==============================] - 11s 60ms/step - loss: 0.0328 - accuracy: 0.9909 - val_loss: 2.1602 - val_accuracy: 0.7781
Epoch 27/30
190/190 [==============================] - 11s 57ms/step - loss: 0.0120 - accuracy: 0.9965 - val_loss: 2.1517 - val_accuracy: 0.7821
Epoch 28/30
190/190 [==============================] - 11s 57ms/step - loss: 0.0025 - accuracy: 0.9998 - val_loss: 2.5989 - val_accuracy: 0.7874
Epoch 29/30
190/190 [==============================] - 11s 57ms/step - loss: 7.6714e-04 - accuracy: 1.0000 - val_loss: 2.8577 - val_accuracy: 0.7867
Epoch 30/30
190/190 [==============================] - 11s 57ms/step - loss: 4.2662e-04 - accuracy: 1.0000 - val_loss: 3.0922 - val_accuracy: 0.7867